<body id="page-top">
    {{> header}}

    {{> nabvar}}

  <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Joel
                        <span class="text-primary">Yunga</span>
                    </h1>
                    <p class="lead mb-5">Nacido en Quito, Tengo 21 años actualmente soy estudiante de la Carrera de Ingenieria en Ciencias de la Computación, estoy en 7mo semestre, me caracterizó por ser una persona muy alegre, tengo inclinacion por el trabajo en equipo, cuento con capacidades creativas, analistas y de investigacion. Me encanta la programación pero busco mejorarme cada dia.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">ESTUDIOS</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Unidad Educativa "Nuestra Señora del Cisne"</h3>
                            <div>Primaria</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Septiembre 2004 - Julio 2010 </span></div>
                    </div>
                     <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Instituto Nacional Mejía</h3>
                            <div>Bachillerato en Ciencias</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Septiembre 2010 - Julio 2017</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universidad Politécnica Salesiana</h3>
                            <div>Ingenieria en Ciencias de la Computación</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Septiembre 2017 - Actualidad(7moSemestre)</span></div>
                    </div>
            </section>
            <hr class="m-0" />
                        <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Certificaciones</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Certificación Curso de Python</h3>
                            <div class="subheading mb-3">Desarrollo web : HTML,CSS,Javascript,JQuery,Python y Django</div>
                            <div class="subheading mb-3">Udemy</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzo 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Seminario</h3>
                            <div class="subheading mb-3">Introducción a la informática forense</div>
                            <div class="subheading mb-3">Universidad Politécnica Salesiana</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Agosto 2020</span></div>
                    </div>
                     <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Seminario</h3>
                            <div class="subheading mb-3">Virtualización con VMware</div>
                            <div class="subheading mb-3">Universidad Politécnica Salesiana</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Agosto 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Certificacion Curso de Packet Tracer</h3>
                            <div class="subheading mb-3">Introduction to Packet Tracer</div>
                             <div class="subheading mb-3">Cisco</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzo 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Certificacion Curso de Linux</h3>
                            <div class="subheading mb-3">Partner: NDG Linux Essentials</div>
                             <div class="subheading mb-3">Cisco</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Junio 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Lenguajes de Programación & Herramientas</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item">Visual Studio Code</li>
                        <li class="list-inline-item">Anaconda</li>
                        <li class="list-inline-item">NetBeans</li>
                        <li class="list-inline-item">PyCharm</li>
                        <li class="list-inline-item">Google Colab</li>
                        <li class="list-inline-item">SQL Server</li>
                    </ul>
                    <p class="lead mb-5">Tengo conocimientos en lenguajes de programación como:</p>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Java
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                           Python
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            JavaScript
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                             PHP
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            SQL
                        </li>
                    </ul>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Proyectos Realizados</h2>
                    <p>Todos los proyectos realizados por mi persona se encuentra dentro del repositorio de <a href="https://github.com/JoelYunga?tab=repositories">GitHub.</a></p>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">WebServer"</h3>
                            <div>Código fuente de un servidor Web + Express + HBS + Heroku </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Junio 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Clima"</h3>
                            <div>Aplicación en NodeJS para obtener el clima de una ciudad </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Junio 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Node Tareas"</h3>
                            <div>Aplicación para lista de tareas </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Mayo 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Telefonia Celular"</h3>
                            <div>Aplicación en NodeJS que permita leer los datos de las suscripciones a telefonía celular móvil </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Mayo 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Topologia de la UPS en GNS3 "</h3>
                            <div>Topologia de los diferentes campus de la UPS conectados a un servidor linux </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Noviembre 2020</span></div>
                    </div>
                     <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">R-Studio y Shiny"</h3>
                            <div>Modelos de regresión simples y multiplés, y modelos de clasficicación logistica </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Noviembre 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Reportes con Pentaho"</h3>
                            <div>Generar reportes y gráficas con Pentaho Report y NetBeans</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Agosto 2020</span></div>
                    </div>
                </div>
                
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Contactos</h2>
                    <div class="social-icons">
                        <h2 class="mb-5">Dirección</h2>
                        <p>Inti OE 2-300 y Pasaje Rúben Dávila</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7802447323884!2d-78.52931528582513!3d-0.25031383544252006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d599042a4a69a1%3A0xe08044b56a08ddba!2sRub%C3%A9n%20D%C3%A1vila%2C%20Quito%20170111!5e0!3m2!1ses-419!2sec!4v1624565427525!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <br>
                        <br>
                        <br>
                        <h2 class="mb-5">Redes Sociales</h2>
                        <a class="social-icon" href="https://api.whatsapp.com/send?phone=593984159097"><i class="fab fa-whatsapp"></i></a>
                        <a class="social-icon" href="https://www.linkedin.com/in/joel-yunga-1b899a204/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/JoelYunga"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/TQJOEL1705"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/joel.pm.10/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                   
                </div>
                <form action="mailto:joel_yunga@hotmail.com"  method="post" enctype="text/plain">
                    <h2 class="mb-5">FORMULARIO</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombres</label>
    <input type="input" class="form-control" id="nombre" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="mail">
  </div>
  <div class="mb-3">
    <label for="mensaje" class="form-label">Mensaje</label>
   <textarea name="=" id = "text" rows="10" cols="30" wrap="soft"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
            </section>
        </div>

</body>

</html>